{% extends "base.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block mainContainer %}
    {{ super() }}

<!-- <body class="bg-dark"> -->

<div id="content-wrapper">


  <div class="container">

<!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{data['breadcrumbs'][0][1]}}">{{data['breadcrumbs'][0][0]}}</a>
          </li>
          <li class="breadcrumb-item active">{{data['breadcrumbs'][1][0]}}</li>
        </ol>

    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Create Inventory Count</div>
      <div class="card-body">
        <form action="" method="post" id="form" enctype=multipart/form-data>

          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="countName" class="form-control" placeholder="Inventory Count Name" required="required" autofocus="autofocus" name=inventoryCountName>
              <label for="countName">Inventory Count Name</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <select name="outlet" form="form">
                {% for outlet in data["outlets"] %}
                <option value={{ outlet["id"] }}>{{ outlet["name"] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="file">
              <label>
                <p> <font color='red'> {{data["message"]}} </font></p>
                <p> Upload Count CSV </p>
                <input type="file" value="fileUpload" name="fileUpload">
              </label>
            </div>
          </div>

          <input type="submit" class="btn btn-primary btn-block" value="Create Inventory Count">

        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">CSV Upload Format</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
